// Normally mainpage styles
.slider
	width: 96%
	padding-bottom: 30px
	margin: 0 auto 120px
.slide
	p
		font-size: 16px
		line-height: 1.4
		+din-l
		a
			text-decoration: underline
			color: #F9C721 
				 


.awards
	display: inline-block
	vertical-align: top
	margin: 40px 0
	font-size: 0
	.awards__item
		display: inline-block
		vertical-align: middle
		margin: 0 15px
		i
			position: relative
			text-align: center
			font-size: 98px 
			p
				position: absolute
				top: 60px
				left: 0
				right: 0
				display: inline-block
				vertical-align: middle
				width: 55%
				margin: 0 auto
				opacity: 0.5
				font-size: 10px
				line-height: 1.4
				
.copyright
	display: inline-block
	vertical-align: top
	margin: 20px 0 40px
	font-size: 11px
	color: rgba(#FFF, 0.5) 	



